<!-- Start Program -->
	
	<!-- Enjin PlanetSide2 Online Members: Displays Characters currently logged into Planetside 2.
    Copyright (C) 2014  Tyrone Russell

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    
	<div id="outfitOutput">Loading...</div>
	
	<div class="element_smallbutton refresh-icon" style="float:right;">
		<div class="l">
			<!-- -->
		</div>
		<div class="r">
			<!-- -->
		</div>
		<input type="button" value="Refresh" onclick="launchQuery(outfitAlias);" style="">
	</div>
	<div class="element_smallbutton refresh-icon" style="float:right;">
		<div class="l">
			<!-- -->
		</div>
		<div class="r">
			<!-- -->
		</div>
	    <input type="button" value="1TRV" onclick="outfitAlias='1TRV';launchQuery(outfitAlias);"style="">
	</div>
    <div class="element_smallbutton refresh-icon" style="float:right;">
		<div class="l">
			<!-- -->
		</div>
		<div class="r">
			<!-- -->
		</div>
	    <input type="button" value="VIKG" onclick="outfitAlias='VIKG';launchQuery(outfitAlias);"style="">
	</div>
	<div class="element_smallbutton refresh-icon" style="float:right;">
		<div class="l">
			<!-- -->
		</div>
		<div class="r">
			<!-- -->
		</div>
	    <input type="button" value="1TR" onclick="outfitAlias='1TR';launchQuery(outfitAlias);"style="">
	</div>

	<input type="text" placeholder="Custom" size="5" onkeydown="if (event.keyCode == 13) outfitAlias=this.value;launchQuery(outfitAlias);" style="float:right;color:white;background-color: #484f56;border:grey;border-radius:2px;padding-right:3px;padding-left:3px;padding-bottom:4px;padding-top:4px;margin-right:2px;">
	
	
	<script type="application/javascript">
	
		/* Below are the variable you should change to customize the app for you particular use.*/
			var outfitAlias = "1TR"; // This is the outfit tag, example: [RAUG]
			var SOEAPIServiceId= "trizzone52"; // SOE Census ID of Site Admin
		
			var rankIcons=["https://s3.amazonaws.com/files.enjin.com/1002635/custom_images/RangersOnlineModule/1.png", //Leader Rank
			"https://s3.amazonaws.com/files.enjin.com/1002635/custom_images/RangersOnlineModule/2.png",
			"https://s3.amazonaws.com/files.enjin.com/1002635/custom_images/RangersOnlineModule/3.png",
			"https://s3.amazonaws.com/files.enjin.com/1002635/custom_images/RangersOnlineModule/4.png",
			"https://s3.amazonaws.com/files.enjin.com/1002635/custom_images/RangersOnlineModule/5.png"]; //Fodder Rank
			var iconSize = "width:20px;height:20px;";
			
		/* End customizing variables. Do not edit code below this comment unless you know what you're doing.*/
		
		function callbackToPS2Data(ps2Data){
			var i,membersOnline=[],outfitMinRank=0;
			var out = "";
			//Save index of online characters to membersOnline[]
			for(i = 0; i < ps2Data.outfit_list[0].members.length;i++){
				if(ps2Data.outfit_list[0].members[i].character.onlineStatus.online_status != 0){
				//if(ps2Data.outfit_list[0].members[i].online_status != 0){
					membersOnline[membersOnline.length]=i;
				}
			}
			//Find min rank (greatest ordinal)
			for(k=0;k<membersOnline.length;k++){ 
				if(ps2Data.outfit_list[0].members[ membersOnline[k] ].rank_ordinal > outfitMinRank){
					outfitMinRank = ps2Data.outfit_list[0].members[membersOnline[k]].rank_ordinal;
				}
			}
			//Post list, starting with rank ordinal 1
			for(j=1;j<=outfitMinRank;j++){
				for(x=0;x<membersOnline.length;x++){
					if(ps2Data.outfit_list[0].members[membersOnline[x]].rank_ordinal == j){
						out += "<p>" + "<img src='"+ rankIcons[j-1] + "' align='middle' style='" + iconSize + "'> " + ps2Data.outfit_list[0].members[membersOnline[x]].character.name.first + "</p>";
					}
				}
			}
			document.getElementById("outfitOutput").innerHTML = out;
		}
		//Create censusAPI query with callback to "callbackToPS2Data"
		function launchQuery(outfitAliasLocal){
			var q=document.createElement('script');
			q.type="text/javascript";
			q.src = "https://census.daybreakgames.com/s:"+SOEAPIServiceId+"/get/ps2:v2/outfit?alias="+outfitAliasLocal+"&c:join=type:outfit_member^on:outfit_id^list:1^inject_at:members^show:character_id'rank'rank_ordinal(character^show:name^inject_at:character(characters_online_status^inject_at:onlineStatus^hide:character_id))&callback=callbackToPS2Data";
			//q.src = "https://census.daybreakgames.com/s:"+SOEAPIServiceId+"/get/ps2:v2/outfit?alias="+outfitAliasLocal+"&c:resolve=member_online_status(rank_ordinal)&c:join=type:outfit_member^on:outfit_id^list:1^inject_at:members(character^show:name^inject_at:character)&callback=callbackToPS2Data";
			q.async = true;
			document.body.appendChild(q);
		};
		launchQuery(outfitAlias);
	</script>
	
	<!-- End Program -->